@font-face {
    font-family: 'nes';
    src: url('./assets/fonts/nes.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'noto';
    src: url('./assets/fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'robot-bold';
    src: url('./assets/fonts/Roboto-Bold.ttf');
}

*{
    font-family: 'noto';
}

.titre h1{
    font-family: 'roboto-bold';
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.titre {
    margin-top: 2vh;
}

.titre hr {
    width: 50%;
}

.titre-content {
    font-family: 'roboto-bold';
}

nav {
    margin: 3vh 0 3vh 0;
}

html {
    padding-left: 10%;
    padding-right: 10%;
}

#titre {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 4em;
}

#main {
    height: 15em;
}

#entry {
    display: flex;
    flex-direction: column;
    padding: 1vh 30vw;
    height: 10em;
}
content p {
    font-family: 'noto';
}

.btn_projet a {
    margin: 1vh;
}


.border {
    border: solid 3px;
    border-radius: 10px;
    padding: 3vh;
    margin-bottom: 1vh;
}

.shadow {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40);
}

.picSize {
    width: 35vw;
    height: auto;
}

.case {
    display: flex;
    flex-direction: row;
}
.case img {
    padding: 0 2vw 0 2vw;
}

.reverseCase {
    display: flex;
    flex-direction: row-reverse;
}
.reverseCase  img{
    padding: 0 2vw 0 2vw;
}

.art_txt_right {
    border-left: solid 1px;
    padding-left: 2vw;
}

.art_txt_left {
    border-right: solid 1px;
    padding-left: 2vw;
}